*{
	font-family: Cambria;
	text-align: center;
	
}
header, footer{
	background-color: rgb(120, 0, 46);
	color: white;
	padding: 5px;
	font-size: 150%;
	clear: both;
}
main{
	background-color: rgb(173, 20, 87);
	text-align: left;
}
aside{
	background-color: Snow;
	color: OliveDrab;
	width: 60%;
	height: 322px;
	text-align: left;
	float: left;
}
article{
	background-color: rgb(173, 20, 87);
	width: 40%;
	height: 322px;
	float: left;
}
img['samochod.png']{
	margin: 40px;
	padding: 10px;
}
hover:img['samochod.png']{
	border: 1px Dotted YellowGreen;
}
a{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 50px;
	padding-right: 50px;
	color: YellowGreen;
}
table, td{
	border: 1px solid OliveGrab;
}
table{
	width: 90%;
}